body {
    background-color: lightpink;
}

h1 {
    color: purple;
    font-size: 1.8em;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
}

.important {
    font-size: 1em;
    font-weight: 600;
    color: aquamarine;
    border: 5px solid purple;
    padding: 10px 5px 20px 15px;
    margin: 10px 30px;
}

.important::first-letter {
    font-size: 3em;
    color: blueviolet;
}

a:hover {
    color: darkolivegreen;
}